<section>
    <h1>Movies</h1>
  <mat-grid-list  [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="12px" rowHeight="3:4">
    <!--<mat-grid-list cols="4" gutterSize="5px" rowHeight="3:4" >-->
        <mat-grid-tile *ngFor="let movie of movies" [colspan]="1" [rowspan]="1">
          <div class="container">
            <mat-card class="movie" >

                <!-- Poster Image -->
                <div *ngIf="movie.poster_path; then truePoster else falsePoster"></div>

                <ng-template #truePoster>
                    <img mat-card-image src="{{url_image}}{{movie.poster_path}}">
                </ng-template>

                <ng-template #falsePoster>
                    <img mat-card-image  src="assets/no-poster.jpg">
                </ng-template>


            </mat-card>
            <div class="middle">
              <div class="text">

                <div fxLayout="column" fxLayoutAlign="center" >
                  <h2>{{movie.title}}</h2>
                  <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <h3 style="margin: auto">{{movie.vote_average}}<mat-icon style=" color: gold">star_rate</mat-icon></h3>
                  </div>
                  <p><b>{{ (movie.overview.length > 150) ? (movie.overview | slice:0:150) + '....' : (movie.overview) }}</b></p>
                  <button style="color: darkred; background-color: whitesmoke" mat-button color="red" [routerLink]="['/movie', movie.id]"> Details </button>
                </div>


              </div>
            </div>
          </div>
        <mat-grid-tile-footer>{{movie.title}}</mat-grid-tile-footer>
        </mat-grid-tile>

    </mat-grid-list>

  <td-paging-bar class="list" #pagingBarLinks pageLinkCount="5" [firstLast]="false" [initialPage]="currentPage" [pageSize]="1" [total]="totalPages" (change)="changePage($event)">
    <span hide-xs>Currently on page: {{currentPage}} of {{totalPages}} ({{totalResults}} results)</span>
  </td-paging-bar>


</section>
