<section>
    <h1>Movies</h1>
  <mat-grid-list  [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="5px" rowHeight="3:4">
    <!--<mat-grid-list cols="4" gutterSize="5px" rowHeight="3:4" >-->
        <mat-grid-tile *ngFor="let movie of movies" [colspan]="1" [rowspan]="1">
          <div class="container">
            <mat-card class="movie" >

                <!-- Poster Image -->
                <div *ngIf="movie.poster_path; then truePoster else falsePoster"></div>

                <ng-template #truePoster>
                    <img mat-card-image src="{{url_image}}{{movie.poster_path}}">
                </ng-template>

                <ng-template #falsePoster>
                    <img mat-card-image  src="assets/no-poster.jpg">
                </ng-template>


            </mat-card>
            <div class="middle">
              <div class="text">
                <h2>{{movie.title}}  </h2>
                <h3>{{movie.vote_average}}<mat-icon style=" color: gold">star_rate</mat-icon></h3>
                <p><b>{{ (movie.overview.length > 150) ? (movie.overview | slice:0:150) + '....' : (movie.overview) }}</b></p>
                <button style="color: darkred; background-color: whitesmoke" mat-button color="red" [routerLink]="['/movie', movie.id]"> Details </button>
              </div>
            </div>
          </div>
        <mat-grid-tile-footer>{{movie.title}}</mat-grid-tile-footer>
        </mat-grid-tile>

    </mat-grid-list>

    <td-paging-bar #pagingBar
                    [pageLinkCount]="5"
                    [pageSize]="100"
                    [total]="1345"
                    (change)="changePage($event)">
    {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
    <div *ngIf="movies.length > 0" layout-xs="column" layout-gt-xs="row" layout-align-xs="center center"
        layout-align-sm="center center" layout-align-gt-sm="end center" class="push-top-sm">
        <div>
        <span>Currently on page: {{currentPage}} of {{totalPages}}</span>
        <span> ({{totalResults}} results)</span>
        </div>
        <td-paging-bar [pageSize]="[20]"
                        [pageLinkCount]="0" [initialPage]="currentPage" [firstLast]="firstLast"
                        [total]="totalResults" (change)="changePage($event)" class="tc-grey-900">
        </td-paging-bar>
        </div>
</section>
