<mat-tab-group [(selectedIndex)]='tabIndex' class="detailTab" *ngIf="person">

  <!--  Tab to show the general details of the movie -->
  <mat-tab label="General">
    <div class="bg-image" >
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="cont">
      <div class="image_content">

        <!-- movie poster image -->
        <div *ngIf="person.profile_path; then poster else noPoster"></div>

        <ng-template #poster>
          <img class="image" src="{{url_image_profile}}{{person.profile_path}}" alt="{{person.title}} poster">
        </ng-template>

        <ng-template #noPoster>
          <img class="image" src="assets/Unknown-character-profile.png" alt="{{person.title}} poster image">
        </ng-template>

      </div>

      <div class="details"  fxLayout="column" >

        <!-- Movie Title -->
        <div fxLayout="row" fxLayoutAlign="space-between end" >
          <div fxLayout="column" fxLayoutAlign="start center">
            <span>
              <h1  class="movieTitle" >{{person.name}}</h1>
            </span>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-around center" matTooltip="Popularity" >
            <h1>{{person.popularity | number:'1.0-0'}}</h1>
            <mat-icon>thumb_up_alt</mat-icon>
          </div>
        </div>

        <mat-divider class="md-divider"></mat-divider>

        <!-- person biography -->
        <div >
        <span>
          <p>{{person.biography}}</p>
        </span>
        </div>

        <mat-divider class="md-divider"></mat-divider>

        <!-- Movie details -->
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" >
          <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="gender">
            <div fxLayout="row" fxLayoutAlign="space-around center" >

              <i *ngIf="gender === 'Male'" aria-hidden="true" class="fa fa-mars" style="font-size:30px;"></i>
              <i *ngIf="gender === 'Female'" aria-hidden="true" class="fa fa-venus" style="font-size:30px;"></i>
              <i *ngIf="gender !== 'Female' && gender !== 'Male'" aria-hidden="true"
                 class="fa fa-venus-mars" style="font-size:30px;"></i>

              <div style="margin-left: 5px" fxLayout="column" fxLayoutAlign="start center" >
                <p>Gender<br/><b>{{gender}}</b></p>
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="person.birthday">
            <div fxLayout="row" fxLayoutAlign="space-around center" >
              <i class="fa fa-birthday-cake" style="font-size:30px;"></i>
              <div style="margin-left: 5px" fxLayout="column" fxLayoutAlign="start center" >
                <p>Birthday<br/><b>{{(person.birthday | date) +' ('+getAge(person.birthday)+')'}}</b></p>
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="person.place_of_birth">
            <div fxLayout="row" fxLayoutAlign="space-around center" >
              <i class="fa fa-map-marker" style="font-size:30px;"></i>
              <div style="margin-left: 5px" fxLayout="column" fxLayoutAlign="start center" >
                <p>Place of birth<br/><b>{{person.place_of_birth}}</b></p>
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf="person.homepage">
            <div fxLayout="row" fxLayoutAlign="space-around center" >
              <i class="fa fa-paper-plane" style="font-size:30px;"></i>
              <div style="margin-left: 5px" fxLayout="column" fxLayoutAlign="start center" >
                <p>Homepage<br/><b>{{person.homepage}}</b></p>
              </div>
            </div>
          </div>
        </div>

        <mat-divider class="md-divider"></mat-divider>

        <!-- Movie companies -->
        <!--<div fxLayout="row wrap" fxLayoutAlign="space-around center" *ngIf="movie.production_companies"  >-->
          <!--<div fxLayout="column" fxLayoutAlign="space-around center" *ngFor="let companie of movie.production_companies">-->
            <!--<div *ngIf="companie.logo_path">-->
              <!--<div fxLayout="row" fxLayoutAlign="space-around center" >-->
                <!--<img class="companie_logo" matTooltip="{{companie.name}}"  src="{{url_images_backdrops}}{{companie.logo_path}}" alt="companie logo">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>

  </mat-tab>

  <!--  Tab to show the movies where the person participated -->
  <mat-tab label="Movies" *ngIf="person.movie_credits.cast">
    <mat-grid-list  [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="12px" rowHeight="3:4">
      <mat-grid-tile *ngFor="let movieCast of person.movie_credits.cast | slice:0:16" [colspan]="1" [rowspan]="1">
        <div class="container">
          <mat-card class="movie" >

            <!-- Poster Image -->
            <div *ngIf="movieCast.poster_path; then truePoster else falsePoster"></div>

            <ng-template #truePoster>
              <img mat-card-image src="{{url_image_profile}}{{movieCast.poster_path}}">
            </ng-template>

            <ng-template #falsePoster>
              <img mat-card-image  src="assets/no-poster.jpg">
            </ng-template>


          </mat-card>
          <div class="middle">
            <div class="text">

              <div fxLayout="column" fxLayoutAlign="center" >
                <h2>{{movieCast.title}}</h2>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                  <h3 style="margin: auto">{{movieCast.vote_average}}<mat-icon style=" color: gold">star_rate</mat-icon></h3>
                </div>
                <p><b>{{ (movieCast.overview.length > 150) ? (movieCast.overview | slice:0:150) + '....' : (movieCast.overview) }}</b></p>
                <button style="color: darkred; background-color: whitesmoke" mat-button color="red" [routerLink]="['/movie', movieCast.id]" (click)="changeTab()"> Details </button>
              </div>


            </div>
          </div>
        </div>
        <mat-grid-tile-footer>{{movieCast.title}} <br> as {{movieCast.character}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!--  Tab to show the tv series where the person participated -->
  <mat-tab label="Tv shows" *ngIf="person.tv_credits.cast">
    <mat-grid-list  [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="12px" rowHeight="3:4">
      <mat-grid-tile *ngFor="let tvCast of person.tv_credits.cast | slice:0:16" [colspan]="1" [rowspan]="1">
        <div class="container">
          <mat-card class="movie" >

            <!-- Poster Image -->
            <div *ngIf="tvCast.poster_path; then truePoster else falsePoster"></div>

            <ng-template #truePoster>
              <img mat-card-image src="{{url_image_profile}}{{tvCast.poster_path}}">
            </ng-template>

            <ng-template #falsePoster>
              <img mat-card-image  src="assets/no-poster.jpg">
            </ng-template>


          </mat-card>
          <div class="middle">
            <div class="text">

              <div fxLayout="column" fxLayoutAlign="center" >
                <h2>{{tvCast.name}}</h2>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                  <h3 style="margin: auto">{{tvCast.vote_average}}<mat-icon style=" color: gold">star_rate</mat-icon></h3>
                </div>
                <p><b>{{ (tvCast.overview.length > 150) ? (tvCast.overview | slice:0:150) + '....' : (tvCast.overview) }}</b></p>
                <button style="color: darkred; background-color: whitesmoke" mat-button color="red" [routerLink]="['/tv', tvCast.id]" (click)="changeTab()"> Details </button>
              </div>


            </div>
          </div>
        </div>
        <mat-grid-tile-footer>{{tvCast.name}} <br> as {{tvCast.character}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!--  Tab to show the crew where the person participated -->
  <mat-tab label="Crew" *ngIf="person.combined_credits">

    <!-- movie crew -->
    <mat-toolbar class="toolbar" color="primary" *ngIf="tvCrew.length > 0">Movie crew</mat-toolbar>
    <mat-grid-list  *ngIf="tvCrew.length > 0" [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="12px" rowHeight="3:4">
      <mat-grid-tile *ngFor="let crew of movieCrew | slice:0:12 " [colspan]="1" [rowspan]="1">
        <div class="container">
          <mat-card  class="movie" >

            <!-- Poster Image -->
            <div *ngIf="crew.poster_path; then truePoster else falsePoster"></div>

            <ng-template #truePoster>
              <img mat-card-image src="{{url_image_profile}}{{crew.poster_path}}">
            </ng-template>

            <ng-template #falsePoster>
              <img mat-card-image  src="assets/no-poster.jpg">
            </ng-template>


          </mat-card>
          <div class="middle">
            <div class="text">

              <div fxLayout="column" fxLayoutAlign="center" >
                <h2>{{crew.title}}</h2>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                  <h3 style="margin: auto">{{crew.vote_average}}<mat-icon style=" color: gold">star_rate</mat-icon></h3>
                </div>
                <p><b>{{ (crew.overview.length > 150) ? (crew.overview | slice:0:150) + '....' : (crew.overview) }}</b></p>
                <button style="color: darkred; background-color: whitesmoke" mat-button color="red" [routerLink]="['/movie', crew.id]" (click)="changeTab()"> Details </button>
              </div>


            </div>
          </div>
        </div>
        <mat-grid-tile-footer>{{crew.title}} <br> as {{crew.job}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-divider *ngIf="tvCrew.length > 0"  style="margin-top: 30px; border-width: 5px"></mat-divider>

    <!-- tv crew -->
    <mat-toolbar class="toolbar" color="primary" *ngIf="tvCrew.length > 0">Tv crew</mat-toolbar>
    <mat-grid-list  *ngIf="tvCrew.length > 0" [cols]="breakpoint" (window:resize)="onResize($event)" gutterSize="12px" rowHeight="3:4">
      <mat-grid-tile *ngFor="let crew of tvCrew | slice:0:12" [colspan]="1" [rowspan]="1">
        <div class="container">
          <mat-card  class="movie" >

            <!-- Poster Image -->
            <div *ngIf="crew.poster_path; then truePoster else falsePoster"></div>

            <ng-template #truePoster>
              <img mat-card-image src="{{url_image_profile}}{{crew.poster_path}}">
            </ng-template>

            <ng-template #falsePoster>
              <img mat-card-image  src="assets/no-poster.jpg">
            </ng-template>


          </mat-card>
          <div class="middle">
            <div class="text">

              <div fxLayout="column" fxLayoutAlign="center" >
                <h2>{{crew.name}}</h2>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                  <h3 style="margin: auto">{{crew.vote_average}}<mat-icon style=" color: gold">star_rate</mat-icon></h3>
                </div>
                <p><b>{{ (crew.overview.length > 150) ? (crew.overview | slice:0:150) + '....' : (crew.overview) }}</b></p>
                <button style="color: darkred; background-color: whitesmoke" mat-button color="red" [routerLink]="['/tv', crew.id]" (click)="changeTab()"> Details </button>
              </div>


            </div>
          </div>
        </div>
        <mat-grid-tile-footer>{{crew.name}} <br> as {{crew.job}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

</mat-tab-group>
